@{
    ViewData["Title"] = "Hesap Yönetimi";
}
<h2>Hesap İşlemleri</h2>
<div class="d-flex flex-column gap-3" style="max-width:300px;">
    <a class="btn btn-primary" href="/Account/Register">Üye Ol</a>
    <a class="btn btn-success" href="/Account/Login">Giriş Yap</a>
    <a class="btn btn-danger" href="/Account/AdminLogin">Admin Girişi Yap</a>
</div>
